<div class="container mt-5 pt-5">
    <div class="row mt-5">
        <div class="col p-0">
            <carousel [noPause]="false">
                <slide>
                    <img class="carousel" src="../../../assets/images/carousel/carousel1.jpg" alt="first slide" >
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="box">Kamal</h3>
                    </div>
                </slide>
                <slide>
                    <img class="carousel" src="../../../assets/images/carousel/carousel2.jpg" alt="second slide" >
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="box" >No Project Disco</h3>
                    </div>
                </slide>
                <slide>
                    <img class="carousel" src="../../../assets/images/carousel/carousel3.jpg" alt="third slide" >
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="box" >Club Nocturno</h3>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>

